/*
Theme Name: WindOne
Description: Child theme of 'Twenty Eleven' with design of 'Organic Theme'.
Author: Jonas Bang
Template: twentyeleven
Version: 0.1.0
*/

@import url("../twentyeleven/style.css");

/* Ensure background image behind title area */
#page {
    background: none repeat scroll 0 0 transparent;
    margin: 0em auto;
}
#main {
    background: none repeat scroll 0 0 #FFFFFF;
}
#primary {
    background: none repeat scroll 0 0 #FFFFFF;
}
#branding img {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
}

/* Page structure */
#content {
    margin: 0 34% 0 5%;
    width: 61%;
}
#secondary {
    margin-right: 5%;
    width: 21.4%;
}

/* Setup title area with searchform placement */
#site-title {
    margin-right: 0px;
    padding: 1.5em 0 0;
}
#site-title a {
    color: #333333;
    text-shadow: 2px 2px 1px #DAE1D4;
}
#site-description {
    margin: 0 0 1.5em 0;
    color: #666666;
    font-size: 16px;
}
#branding {
    border-top: none;
}
#branding #s {
    background-color: #F9F9F9;
}
#branding #searchform {
    position: static;
    right: 5%;
}
#branding hgroup {
    margin: 0 5%;
}
#branding hgroup table {
    width: 100%;
}
#branding hgroup table td.search {
    width: 250px;
}
#branding hgroup table tr.search {
    display: none;
}

/* Menu */
#access {
    background: -moz-linear-gradient(#252525, #333333) repeat scroll 0 0 transparent;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    margin: 0 auto 0;
}
#access div {
    margin: 0 5%;
}
#access a {
    color: #AAAAAA;
    display: block;
    line-height: 38px;
    padding: 0 30px 0 15px;
    text-decoration: none;
    width: 120px;
}
#access .current_page_item > a,
#access .current_page_ancestor > a {
    color: #FFFFFF;
}
#access li a strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
}
#access li a span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-bottom: 15px;
}
#access ul ul {
    top: auto;
    width: 165px;
}
#access ul ul a {
    background: none repeat scroll 0 0 #333333;
    color: #AAAAAA;
    line-height: 1em;
    padding: 15px;
    width: 135px;
    border-bottom: none;
    border-top: 1px dotted #AAAAAA;
}
#access ul ul *:hover > a {
    background: none repeat scroll 0 0 #E9E9E9;
}
#access ul ul .current_page_item > a,
#access ul ul .current_page_ancestor > a {
    font-weight: normal;
}

/* Widget */
#secondary .widget {
    background: none repeat scroll 0 0 #E7EAE1;
}
.widget-title {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
    padding-left: 10px;
}
.widget ul,
.textwidget {
    padding: 10px;
}
.widget ul li {
    font-size: 12px;
    margin-left: 12px;
}

/* Bottom widget area */
#supplementary {
    padding: 1.5em 5%;
    background: none repeat scroll 0 0 #333333;
}
#site-generator {
    display: none;
}

/* Changes applied to page when browser width is reduced */
@media (max-width: 650px) {
    	/* Make sure title and search form don't collide */
        #branding hgroup table td.search {
            display: none;
        }
        #branding hgroup table tr.search {
            display: block;
            margin: 0 0 0.75em 0;
        }
        #site-title {
            padding: 1em 0 0;
        }
        #site-title a {
            text-shadow: 0.5px 0.5px 0.5px #DAE1D4;
        }
        #site-description {
            margin: 0 0 0.75em 0;
            font-size: 12px;
        }
}